body {
    background-color: #0f0; /* Propiedad de color para el fondo */
}

.box {
    height: 300px;
    width: 3000px;
    margin: 20px;
    background-image: url("./../../img/foto-perfil.jpg"); /* Imagen de fondo */
    background-position: center;                          /* Desde dónde empieza la imágen */
    background-size: contain;                             /* cover adapta la imagen a las dimensiones, 100% no */
    background-repeat: no-repeat;                         /* Controlar repetición */
    background-color: #6fa;                             /* Color de fondo */
    /* background: url("./../../img/foto-perfil.jpg") center / contain no-repeat #6fa; */ /* Modo abreviado */
}