input {
    width: 100%;            /* 100% del ancho del contenedor */
    box-sizing: border-box; /* Aplica a los inputs submit */
}

form {
    width: 400px; /* Ancho */
    margin: 0 auto;
}

h1 {
    text-align: center;
}