body {
    font-family: sans-serif;
}

body, div, figure, figcaption {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

.flexbox {
    display: flex;
}

.flex-item {
    background: #ccc;
    padding: 30px;
    border: 1px solid #f00;
    flex-grow: 1;
}

/* Media Query de impresión */
@media print {
    /* Dentro del bloque van los estilos */
    body {
        font-size: 24pt;
    }
}

/* Media Query de pantalla de 600px o menos */
@media screen and (max-width: 600px) {
    /* Dentro del bloque van los estilos */
    .flexbox {
        flex-direction: column;
    }
}