body {
    margin: 0;
}

.box {
    margin: 50px auto 0 auto;
    padding: 20px;
    padding-top: 10px;
    box-sizing: border-box;
    background: #e2e2e2;
    width: 280px;
    height: 360px;
    font-family: sans-serif;
    color: #444;

    /* Sombras de caja */
    /*
        @param:
            - Desplazamiento horizontal
            - Desplazamiento vertical
            - Difuminado
            - Extensión de la sombra
            - Color
    */
    box-shadow: 0 0 40px 0 #0007;
}

.box h2 {
    text-transform: uppercase;
}

.box p {
    line-height: 1.4;
    text-align: justify;
    font-size: 14px;
}