body {
    margin: 0;
    font-family: sans-serif;
}

body, div {
    box-sizing: border-box;
}

.grid {
    display: grid;
    height: 100vh;
    /*1fr 1fr 1fr 1fr 4fr */ /* repeat(4, 1fr) 4fr */ /* repeat evita redundancia */
    grid-template-columns: repeat(2, minmax(100px, 300px)) 1fr; /* 2 columnas de mínimo 100px y máximo 300px */
    grid-template-rows: repeat(2, 200px) 1fr;
}

.grid-item {
    background-color: #48e;
    color: #fff;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
}